@import "src/css/app.variables";
@import "src/css/mixns";

.portfolio-card {
  width: 34rem;
  height: 33.8rem;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 1;

  &--small {
    width: 30rem;
    height: 30rem;
  }

  &__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__label {
    display: inline-block;
    font-family: $Quicksand;
    color: $cWhite1;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .0072rem;
    padding: 2.4rem;
  }
  @include minMediaDesktop {
    width: 40rem;
    height: 40rem;
    &--small {
      width: 35rem;
      height: 35rem;
    }
    &__label {
      padding: 4.5rem 3.8rem;
    }
    &--small &__label {
      padding: 3.8rem 3.4rem;
    }
  }
}
