@import "src/css/app.variables";

.portfolio-card {
  width: 340px;
  height: 338px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 1;

  &--small {
    width: 30rem;
    height: 30rem;
  }

  &__background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  &__label {
    display: inline-block;
    font-family: $Quicksand;
    color: $cWhite;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.072px;
    padding: 2.4rem;
  }
}
