@import "src/css/templates.scss";
@import "src/css/mixns";

.about {
  padding: 6.4rem 0;

  &__header {
    @extend %header;
    margin-bottom: 3.5rem;
  }

  &__descriptions-list {
    margin-bottom: 3.5rem;
  }

  &__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    margin-bottom: 4.9rem;
  }

  @include minMediaDesktop {
    padding: 12.1rem 0 7.2rem;
    &__container {
      display: grid;
      column-gap: 6.5rem;
      grid-template-columns: 56.5rem 61rem;
      grid-template-areas:
        "header header"
        "image body";
    }
    &__header {
      grid-area: header;
      margin-bottom: 3.8rem;
    }
    &__body {
      grid-area: body;
    }
    &__image-block {
      grid-area: image;
    }
    &__descriptions-list {
      padding-top: 2.5rem;
      margin-bottom: 2.4rem;
    }
    &__description {
      font-size: 2rem;
      line-height: 3.2rem;
      letter-spacing: 0.02rem;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
    &__buttons {
      justify-content: flex-start;
      gap: 2.5rem;
    }
  }
}
