@import "src/css/app.variables";
@import "src/css/mixns";

.ball {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  box-shadow: 0 .3rem 2rem rgba($cBlack, 0.05);

  &--animated {
    animation-duration: 90s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
  }

  &--red {
    background: linear-gradient(180deg, $cRed01 0%, $cRed02 100%);
  }

  &--blue {
    animation-direction: reverse;
    background: linear-gradient(180deg, rgba($cBlue02, .8) 0%, $cBlue01 100%);
  }

  @include minMediaDesktop {
    width: 3.1rem;
    height: 3.1rem;
  }
}

