@import "src/css/app.variables";
@import "src/css/mixns";

.primary-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: $cWhite1;
  background: $cBlue01;
  padding: 1rem 3.5rem;
  border-radius: 2.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  transition: background-color $transitionDefault;
  letter-spacing: .01rem;

  & > svg {
    width: 1.7rem;
    height: 1.7rem;
  }

  &:not(&--bordered) {
    box-shadow: 0 .4rem .8rem rgba($cBlue01, 0.5);

    path {
      stroke: $cWhite1;
    }

    @include hover {
      background: $cLightBlue;
    }
  }

  &--bordered {
    color: $cBlue01;
    border: 1px solid $cBlue01;
    background: none;
    transition: color $transitionDefault, border $transitionDefault;

    path {
      stroke: $cBlue01;
      transition: stroke $transitionDefault;
    }

    @include hover {
      color: $cLightBlue;
      border: 1px solid $cLightBlue;

      path {
        stroke: $cLightBlue
      }
    }
  }

  @include minMediaDesktop {
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 1.2rem 5rem;
  }
}
