@import "src/css/app.variables";
@import "src/css/mixns";

.file-picker {
  width: 100%;
  overflow: hidden;

  &__body {
    position: relative;
    width: fit-content;
    display: flex;
    gap: .5rem;
    cursor: pointer !important;
  }

  &__files {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    overflow: hidden;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    fill: $cBlue01;
  }

  &__item, &__label {
    font-size: 1.6rem;
    font-family: $Quicksand;
    font-weight: 700;
    line-height: 2.4rem;
    letter-spacing: 0.016rem;
  }

  &__label {
    color: $cBlue01;
  }

  &__input {
    display: none;
  }

  .theme-dark & {
    &__label {
      color: inherit;
    }

    &__icon {
      fill: $cWhite2
    }
  }
}

.file-picker-item {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  &__label {
    word-break: break-word;
  }

  &__delete {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: cover;
    stroke: $cBlack4;
    transition: stroke $transitionDefault;
    cursor: pointer;
    flex-shrink: 0;
    @include hover {
      stroke: $cBlue01;
    }
    .theme-dark & {
      stroke: $cWhite2;
    }
  }
}
