@import "src/css/app.variables";

.footer-menu-item {

  &__link, &__title {
    font-family: $Quicksand;
  }

  &__title {
    color: $cWhite1;
    font-size: 1.8rem;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  &__link {
    color: $cWhite1;
    font-size: 1.6rem;
    line-height: 130%;
    font-weight: 300;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2.2rem
  }

}
