@import "src/css/templates";
@import "src/css/mixns";

.testimonial {
  padding: 5.4rem 0;

  &__header {
    @extend %header;
    margin-bottom: 3.5rem;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
  }

  &__dots {
    display: none;
  }

  @include minMediaDesktop {
    padding: 12.7rem 0 25rem;
    position: relative;

    &__dots {
      display: block;

      > svg {
        position: absolute;
        width: 9.8475rem;
        height: 7.0926rem;

        &:first-child {
          right: 7.6rem;
          top: 59rem;
          transform: rotate(14.484deg);
        }

        &:nth-child(2) {
          left: 21.9rem;
          top: 8.2rem;
          transform: rotate(14.484deg);
        }
      }
    }
  }
}
