@import "src/css/templates";
@import "src/css/mixns";

.testimonial {
  padding: 5.4rem 0;

  &__header {
    @extend %header;
    margin-bottom: 3.5rem;
  }

  &__swiper {
    grid-auto-columns: 100%;
    display: grid;
    grid-auto-flow: column;
    margin: 0 -2.5rem;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;
    padding: 0 2.5rem;
    height: 100%;
    img {
      pointer-events: none;
    }
  }

  &__dots {
    display: none;
  }

  @include minMediaDesktop {
    padding: 12.7rem 0 8.8rem;
    position: relative;

    &__slide {
      width: 43rem;
    }
    &__swiper {
      grid-auto-columns: 1fr;

    }

    &__container {
      position: relative;
    }

    &__body {
      padding: 2rem;
      margin: 0 -2rem;
      overflow: hidden;
    }
    &__header {
      margin-bottom: 3rem;
    }
    &__dots {
      display: block;

      > svg {
        position: absolute;
        width: 9.8475rem;
        height: 7.0926rem;

        &:first-child {
          right: 7.5rem;
          top: 46.7rem;
          transform: rotate(14.484deg);
        }

        &:nth-child(2) {
          left: 21.8rem;
          top: -4.3rem;
          transform: rotate(14.484deg);
        }
      }
    }
  }
}
