@import "src/css/app.variables";

.testimonial-item {
  background-color: $cWhite1;
  border-radius: 2rem;
  box-shadow: 0 .8rem 2.4rem 0 rgba($cBlack, 0.05);
  padding: 4rem;
  width: 100%;

  &__avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3.5rem;
  }

  &__name {
    color: $cBlue01;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .018rem;
  }

  &__specialty {
    font-size: 1.1rem;
    letter-spacing: .011rem;
    opacity: 0.5;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: .7rem;
  }

  &__quote {
    font-size: 1.4rem;
    font-family: $Quicksand;
    line-height: 2.4rem;
    letter-spacing: .014rem;
    opacity: 0.8;
  }
}
