@import "src/css/app.variables";
@import "src/css/mixns";

.logo {
  display: flex;
  gap: .8rem;
  align-items: center;
  width: fit-content;

  &__icon {
    width: 3.2rem;
    height: 2.999rem;
  }

  &__title {
    font-family: $Quicksand;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.01em;
  }

  &__sub-title {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  &--footer &__icon {
    width: 5.3231rem;
    height: 5.001rem;
  }

  &--footer {
    gap: 1.1rem;
    background-color: $cWhite1;
    border-radius: 2rem;
    padding: 1.9rem 2.5rem 1.9rem 2.7rem;
    color: $cBlackSecondary;
  }

  &--footer &__title {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  &--footer &__sub-title {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  &--footer &__title, &--footer &__sub-title {
    color: $cBlackSecondary;
  }

  @include minMediaDesktop {
    gap: 1rem;
    &__icon {
      width: 5.3229rem;
      height: 4.9886rem;
    }
    &__title {
      line-height: 2.4rem;
      letter-spacing: 0.02rem;
      font-size: 2rem;
    }
    &__sub-title {
      font-size: 1.6rem;
      line-height: normal;
      letter-spacing: 0.016rem;
    }
    &--footer {
      gap: .8rem;
      padding: 1.9rem 2.5rem 1.9rem 2.5rem;
    }
    &__button-lang {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.018rem;
    }
  }
}
