.logo {
  display: flex;
  gap: .8rem;
  align-items: center;
  &__icon {
    width: 3.2rem;
    height: 2.999rem;
  }
  &__body{

  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
  }
  &__sub-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
