@import "src/css/mixns";
@import "src/css/app.variables";

.our-services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26.2rem;
  min-height: 26.9rem;
  border: .1rem solid rgba($cBlack, 0.1);
  border-radius: 3rem;
  transition: box-shadow $transitionDefault;
  background: $cWhite1;
  padding: 3.5rem 7.4rem 5.7rem ;

  &__circle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2.7rem;
    overflow: hidden;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
    object-fit: cover;

    &--red {
      background-color: $cRed04;
    }

    &--green {
      background-color: $cGreen;
    }

    &--blue {
      background-color: $cBlue01;
    }

    &--yellow {
      background-color: $cYellow;
    }
  }

  &__icon {
    height: 4.2rem;
    width: 4.2rem;
    object-fit: cover;
  }

  &__label {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
    color: $cBlackSecondary;
  }

  @include hover {
    box-shadow: .4rem .4rem 3rem rgba($cBlack, 0.1);
  }
}
