.contact-us-popup-form {
  &__button {
    display: flex;
    flex-direction: column;
  }

  &__field-list {
    display: grid;
    gap: 3.6rem;

    &_text {
      margin-bottom: 3rem;
    }

    &_file {
      margin-bottom: 4rem;
    }
  }
  &__field {
    &--text-area {
      height: 18.8rem;
    }
  }
}
