@import "src/css/mixns";

.contact-us-popup-form {
  &__button {
    display: flex;
    flex-direction: column;
  }

  &__field-list {
    display: grid;
    gap: 3.6rem;

    &_text {
      margin-bottom: 3rem;
    }

    &_file {
      margin-bottom: 4rem;
    }
  }


  @include minMediaDesktop {
    &__field--text-area {
      height: 12rem;
    }
    &__field-list {
      gap: 3.8rem;

      &_text {
        margin-bottom: 3rem;
      }
      &_file {
        margin-bottom: 3.9rem;
      }
    }
    &__button {
      align-items: center;
    }

  }
}
