@import "src/css/app.variables";

.contact-us-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: $cWhite1;
  padding: 4.4rem 0 0;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
  }

  &__content {
    overflow-y: auto;
    padding: 0 2.5rem 4.4rem;
    margin: 0 -2.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__title, &__description {
    text-align: center;
    margin: 0;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.014rem;
    opacity: 0.6;
  }

  &__title {
    font-size: 2.8rem;
    font-family: $Nunito;
    font-weight: 800;
    letter-spacing: 0.028rem;
    margin-bottom: .8rem;
  }

  &__close {
    align-self: flex-end;
    width: 2.9rem;
    height: 2.5rem;
    background-image: url("src/assets/icons/close.svg");
    background-size: cover;
    margin-bottom: 2.4rem;
    flex-shrink: 0;
  }
}
