@import "src/css/app.variables";
@import "src/css/mixns";

.contact-us-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: $cWhite1;
  overflow: hidden;

  &__container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 4.4rem;
  }

  &__content {
    overflow-y: auto;
    padding: 0 2.5rem 4.4rem;
    margin: 0 -2.5rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__title, &__description {
    text-align: center;
    margin: 0;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 0.014rem;
    opacity: 0.6;
  }

  &__title {
    font-size: 2.8rem;
    font-family: $Nunito;
    font-weight: 800;
    letter-spacing: 0.028rem;
    margin-bottom: .8rem;
  }

  &__close {
    align-self: flex-end;
    width: 2.9rem;
    height: 2.5rem;
    margin-bottom: 2.4rem;
    flex-shrink: 0;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    stroke: $cBlackSecondary;
  }

  .theme-dark & {
    background-color: $cBlack2;

    &__icon {
      stroke: $cWhite2;
    }
  }

  @include minMediaDesktop {
    display: flex;
    padding: 4rem;
    overflow: auto;
    &, .theme-dark & {
      background: rgba($cBlack1, .6);
    }

    &__container {
      background-color: $cWhite1;
      margin: auto;
      width: 64rem;
      border-radius: 3rem;
      height: auto;
      padding: 4rem;
      overflow-y: initial;

      .theme-dark & {
        background-color: $cBlack2;
        border: .1rem solid rgba($cWhite1, .6);
      }
    }

    &__title {
      font-size: 5.5rem;
      line-height: normal;
      letter-spacing: -0.025rem;
    }
    &__description {
      font-size: 2rem;
      line-height: 3.2rem;
      letter-spacing: 0.02rem;
    }

    &__close {
      margin-bottom: -.5rem;
    }

    &__content {
      overflow-y: initial;
      padding-bottom: 0;
    }
  }
}
