@import "src/css/app.variables";

.main-block-achievement {
  background: $cWhite1;
  box-shadow: 0 .8rem 2.4rem rgba($cBlack1, 0.15);
  border-radius: .6rem;
  padding: .8rem 1.9rem .9rem 1.3rem;
  width: fit-content;

  &__header {
    display: flex;
    gap: .3rem;
    margin-bottom: .4rem;
    align-items: flex-end;
  }

  &__title {
    opacity: 0.5;
    font-weight: 700;
    font-size: .6rem;
    line-height: .8rem;
    text-align: center;
    letter-spacing: 0.09rem;
    padding-bottom: .2rem;
  }

  &__body {
    font-family: $Nunito;
    padding-left: .3rem;
    font-size: 1.2rem;
    line-height: 1.6rem;

    letter-spacing: 0.01em;
  }

  &__count {
    font-weight: 700;
  }

  &__star {
    width: 1.6rem;
    height: 1.6rem;
  }
  .theme-dark & {
    background-color: $cBlack2;
  }
}
