@import "src/css/app.variables";
@import "src/css/mixns";

.main-block-review {
  width: 8rem;
  box-shadow: 0 .385542rem 1.15663rem rgba($cBlack1, 0.15);
  border-radius: .6rem;
  padding: 1.3rem .964rem 1.076rem 1.012rem;
  background: $cWhite1;

  &__header {
    display: flex;
    margin-bottom: .578rem;
    align-items: center;
  }

  &__avatar {
    width: 1.542rem;
    height: 1.542rem;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: .482rem;
  }

  &__body {
    font-family: $Nunito;
    display: block;
    font-weight: 400;
    font-size: .5rem;
    line-height: .7rem;
    letter-spacing: 0.01em;
    color: $cBlackSecondary;
  }

  &__name {
    font-family: $Quicksand;
    font-weight: 600;
    font-size: .5rem;
    line-height: .6rem;
    letter-spacing: 0.01em;
    color: $cBlackSecondary;
    margin-bottom: .3rem;
  }

  &__job-title {
    display: block;
    font-weight: 600;
    font-size: .3rem;
    line-height: .4rem;
    letter-spacing: 0.01em;
    opacity: 0.5;
  }

  .theme-dark & {
    background-color: $cBlack2;
    box-shadow: 0 .8rem 2.4rem 0 rgba($cBlack1, 0.15);

    &__name, &__body {
      color: inherit;
    }
  }

  @include minMediaDesktop {
    width: 16.6rem;
    border-radius: 1.6rem;
    padding: 2.7rem 2rem 2.5rem 2.2rem;

    &__body {
      font-size: 1rem;
      line-height: normal;
      letter-spacing: 0.01rem;
    }
    &__name {
      font-size: 1rem;
      line-height: normal;
      letter-spacing: 0.01rem;
    }
    &__job-title {
      font-size: 0.6rem;
      line-height: normal;
      letter-spacing: 0.006rem;
    }

    &__avatar {
      width: 3.2rem;
      height: 3.2rem;
      margin-right: 1rem;
    }
    &__header {
      margin-bottom: 1.2rem;
    }
  }
}
