@import "src/css/app.variables";
@import "src/css/mixns";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2.5rem;
    background-color: $cWhite1;

    .theme-dark & {
      background-color: $cBlack2;
    }
  }

  &__mobile-menu {
    position: absolute;
    left: 0;
    top: calc(100% - .1rem);
    width: 100vw;
    max-height: calc(100vh - 11.1rem);
    display: flex;
    flex-direction: column;
    z-index: -1;
  }

  @include minMediaDesktop {
    &__container {
      padding: 7.2rem 10rem 2rem;
    }
    &__burger {
      display: none;
    }
    &__mobile-menu {
      position: initial;
      z-index: initial;
      width: initial;
      height: initial;
      max-height: initial;
      flex-grow: 1;
    }
    &__logo {
      margin-right: 8rem;
    }
  }
}
