@import "mixns";

.main-loader-enter-active,
.main-loader-leave-active {
  transition: opacity .5s ease .8s;

  & * {
    transition: opacity .5s ease;
  }
}

.main-loader-enter-from,
.main-loader-leave-to {
  opacity: 0;

  & * {
    opacity: 0;
  }
}

.fabe-height-enter-active,
.fabe-height-leave-active {
  max-height: 20rem;
  transition: opacity .6s ease, max-height .6s ease;
}

.fabe-height-enter-from,
.fabe-height-leave-to {
  max-height: 0;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-loader-logo {
  0% {
    opacity: 0;
  }
  70% {
    height: 34.33rem;
  }
  100% {
    opacity: 1;
    height: 17.5rem;
  }
}

@keyframes main-loader-wrapper {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -4.4rem, 0);
  }
}

@keyframes main-loader-content {
  0% {
    opacity: 1;
    max-width: 0;
  }
  20% {
    opacity: 1;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 100vw;
  }
}

@for $i from 1 through 4 {
  @keyframes ball-#{$i} {
    @include randomAnimation;
  }
}
