@import "mixns";

.main-loader-enter-active,
.main-loader-leave-active {
  transition: opacity .5s ease .5s;

  .main-loader__container {
    transition: transform 1s ease, opacity 1s ease;
  }
}

.main-loader-enter-from,
.main-loader-leave-to {
  opacity: 0;

  .main-loader__container {
    opacity: 0;
    transform: scale(0, 0);
  }
}


.fabe-height-enter-active,
.fabe-height-leave-active {
  max-height: 20rem;
  transition: opacity .6s ease, max-height .6s ease;
}

.fabe-height-enter-from,
.fabe-height-leave-to {
  max-height: 0;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes main-loader-description {
  0% {
    max-width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    max-width: 100%;
  }
}

@keyframes main-loader-logo {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {

    transform: scale(1.98, 1.98);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes main-loader-wrapper {
  0% {
    transform: translate3d(0, 0, 0);
    grid-template-columns: auto  minmax(0, 0fr);
  }
  100% {
    transform: translate3d(0, -3.8rem, 0);
    grid-template-columns: auto  minmax(0, 1fr);
  }
}

@keyframes main-loader-body-text {
  0% {
    opacity: 1;
    transform: translate3d(-110%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@for $i from 1 through 4 {
  @keyframes ball-#{$i} {
    @include randomAnimation;
  }
}


@keyframes bolls-fade-in {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.mobile-menu-transition, .contact-us-popup-transition {
  &-enter-active,
  &-leave-active {
    transition: transform .5s ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(0, -100%, 0);
  }
}

.burger-icon-transition {
  &-enter-active,
  &-leave-active {
    transition: transform .5s ease;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0, 0);
  }
}
