/*   General variables   */
$minContentWidth: 320px;

/*   Font variables   */
$fontpostfix: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
$Quicksand: Quicksand, sans-serif, $fontpostfix;
$Nunito: Nunito, sans-serif, $fontpostfix;

/*   Mobile variables   */
$mobileHeaderHeight: 11.3rem;

/*   Color variables   */
$cBlackPrimary: #464646;
$cBlackSecondary: #1D1D1D;
$cWhite1: #fff;
$cWhite2: #E2E2E2;
$cBlack1: #000000;
$cBlack2: #0D0D0D;
$cBlack3: #0B0F15;
$cBlack4: #0E0E0E;
$cGray: #383638;
$cRed01: #FF8E8E;
$cRed02: #F62424;
$cRed03: #FF3737;
$cRed04: #FF2D2D;
$cBlue01: #377DFF;
$cBlue02: #4485FF;
$cLightBlue: #37DBFF;
$cGreen: #7CE761;
$cYellow: #FFA800;

/*   Form variables   */
$fBorderColor: #E5E3EE;
$fBackgroundColor: #F7F7FA;
$fActiveColor: #39e8a5;
$fBorderRadius: 4px;
$fFieldHeight: 48px;
$fFieldFontSize: 14px;
$fFieldTextColor: #9A99A2;


/*  BREAKPOINTS */
$mobileBreakpoint: 390;
$desktopBreakpoint: 1440;
$wideDesktopBreakpoint: 1440;

$transitionDefault: .15s linear;
