/*   General variables   */
$minContentWidth: 320px;

/*   Font variables   */
$fontpostfix: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
$Quicksand: Quicksand, sans-serif, $fontpostfix;
$Nunito: Nunito, sans-serif, $fontpostfix;

/*   Mobile variables   */
$footer: 56px;
$header: 44px;
$layout: 100px;

/*   Color variables   */
$cBlackPrimary: #464646;
$cBlackSecondary: #1D1D1D;
$cWhite: #fff;
$cBlack: #1D1D1D;
$cGray: #EBEBF2;
$cRed01: #FF8E8E;
$cRed02: #F62424;
$cBlue01: #4485FFCC;
$cBlue02: #377DFF;
$cGreen: #39e8a5;

/*   Form variables   */
$fBorderColor: #E5E3EE;
$fBackgroundColor: #F7F7FA;
$fActiveColor: #39e8a5;
$fBorderRadius: 4px;
$fFieldHeight: 48px;
$fFieldFontSize: 14px;
$fFieldTextColor: #9A99A2;

/*   Text variables   */
$tGray: #9A99A2;
$tBlack: #1D1D1D;

/*   Background variables   */
$bgBlack: rgba(29, 29, 29, 0.84);
$bgWhite: rgba(255, 255, 255, 0.5);
$bgError: rgba(255, 58, 68, 0.1);

/*  BREAKPOINTS */
$mobileBreakpoint: 360;
$tabletBreakpoint: 768;
$desktopBreakpoint: 1024;
$wideDesktopBreakpoint: 1440;
