@import "app.variables";

@mixin minMediaMobile {
  @media (min-width: $mobileBreakpoint + px) {
    @content
  }
}


@mixin minMediaDesktop {
  @media (min-width: $desktopBreakpoint + px) {
    @content
  }
}


@mixin fontFace($family, $weight) {
  @font-face {
    font-family: $family;
    src: url('src/assets/fonts/#{$family}/#{$family}#{$weight}.woff2') format('woff2'),
    url('src/assets/fonts/#{$family}/#{$family}#{$weight}.woff') format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}

@mixin randomAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  @for $i from 1 through 9 {
    #{$i}0% {
      transform: translate3d((random(30)-15)+rem, (random(30)-15)+rem, 0);
    }
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@mixin hover {
  &{
    @media (hover: hover) {
      &:hover {
        @content
      }
    }
  }
}
