%ballsPosition {
  position: absolute;

  &:first-child {
    top: 38.5rem;
    left: 7.9rem;
  }

  &:nth-child(2) {
    bottom: 25.6rem;
    right: 21.8rem;
  }

  &:nth-child(3) {
    top: 13.7rem;
    right: 15.6rem;
  }

  &:nth-child(4) {
    bottom: 12rem;
    left: 31.2rem;
  }
}
