@import "src/css/app.variables";
@import "src/css/mixns";

.arrow-link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;

  &__label {
    font-family: $Quicksand;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $cBlue01;
    transition: color $transitionDefault;
    letter-spacing: 0.01rem;

  }

  &__icon {
    width: 2rem;
    height: 2.4rem;
    transform: translateY(.1rem);
    path {
      transition: stroke $transitionDefault;
      stroke: $cBlue01;
    }
  }

  @include hover {
    .arrow-link__label {
      color: $cLightBlue;
    }
    .arrow-link__icon {
      path {
        stroke: $cLightBlue;
      }
    }
  }
  @include minMediaDesktop {
    gap: 1.6rem;
    &__label {
      font-family: $Quicksand;
      font-weight: 700;
      font-size: 2rem;
      line-height: 3.4rem;
      color: $cBlue01;
      transition: color $transitionDefault;
    }
    &__icon {
      width: 2.4rem;
    }
  }
}
