@import "src/css/app.variables";
@import "src/css/mixns";

.menu {
  padding: 2.1rem 0 4rem;
  background-color: $cWhite1;
  flex-grow: 1;
  flex-basis: 100vh;
  overflow-y: auto;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__item, &__button-lang {
    color: $cBlackSecondary;
    font-size: 1.8rem;
    font-family: $Quicksand;
    line-height: 2.4rem;
    letter-spacing: 0.018rem;
    text-transform: capitalize;
    ._active, &._active {
      font-weight: 700;
    }
  }

  &__button-lang {
    text-transform: uppercase;
  }

  &__list {
    display: grid;
    gap: 2.5rem;
    margin-bottom: 5rem;
  }

  &__lang {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 11.5rem;
  }

  &__contact-us {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .theme-dark & {
    &__item, &__button-lang {
      color: inherit;
    }

    background-color: $cBlack2;
  }

  @include minMediaDesktop {
    display: block !important;
    flex-basis: initial;
    padding: 0;
    width: 100%;
    &__social {
      display: none;
    }
    &__list {
      display: flex;
      margin-right: auto;
      gap: 5rem;
    }
    &__container {
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
    }
    &__lang, &__nav, &__contact-us, &__list {
      margin-bottom: 0;
    }
    &__lang {
      margin-right: 8rem;
      gap: .8rem;
    }
    &__contact-us {
      flex-grow: initial;
    }
    &__nav {
      flex-grow: 1;
    }
    &__item {
      font-size: 1.8rem;
      line-height: 2.4rem;
      letter-spacing: 0.018rem;
    }
  }
}
