@import "src/css/app.variables";
@import "src/css/mixns";

.custom-input {
  cursor: text;
  &--text-area, &__body {
    height: 100%;
  }

  &__body {
    position: relative;
    border-radius: 2.4rem;
    border: .1rem solid $cBlue01;
    width: 100%;
    display: flex;
    transition: border-color $transitionDefault;
    @include hover {
      border-color: $cLightBlue;
      .custom-input__label {
        color: $cLightBlue;
      }
    }
  }


  &__value, &__label {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
  }

  &__value {
    color: $cBlackSecondary;
    margin: 1rem 1.6rem;
    overflow: hidden;
    flex-grow: 1;
  }

  textarea {
    resize: none;
  }

  &__label {
    position: absolute;
    left: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 85%;
    background-color: $cWhite1;
    padding: 0 .4rem;
    color: $cBlue01;
    margin: 0 1.2rem;
    top: 1rem;
    transition: top $transitionDefault, font-size $transitionDefault, line-height $transitionDefault, color $transitionDefault;
  }

  &__error {
    display: block;
    padding: 0 1.6rem;
    max-width: 100%;
    left: 1.7rem;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: $cRed03;
  }


  &--fill &__label, &__value:focus + &__label {
    font-size: 1.2rem;
    line-height: 1.8rem;
    top: -.9rem;
  }



  &._focus {
    .custom-input__label {
      color: $cBlackPrimary;
    }

    .custom-input__body {
      border-color: $cBlackPrimary;
    }
  }

  .theme-dark & {
    &__label {
      background-color: $cBlack2;
    }

    &__body {
      border-color: $cWhite2;
      @include hover {
        border-color: $cLightBlue;
      }
    }

    &__value, &__label {
      color: inherit;
    }
  }

  @include minMediaDesktop {
    &__label {
      margin: 0 2rem;
    }
    &__value {
      margin: 1.1rem 2.4rem;
    }
  }
  &--error &__body, &--error:hover &__body {
    border-color: $cRed03;

    .custom-input__label {
      color: $cRed03;
    }
  }
}
