@import "src/css/templates";
@import "src/css/app.variables";

.main-page {
  overflow: hidden;
  section {
    opacity: 1;
    transition: opacity .6s ease-in;
    &._hide {
      opacity: 0;
    }
  }
}
