@import "src/css/app.variables";
@import "src/css/mixns";

.footer {
  background-color: $cGray;
  color: $cWhite2;
  padding: 4.5rem 0 3.8rem;

  &__container {
    padding: 0 2.6rem;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: .8rem;
    gap: 4.2rem;
    margin-bottom: 9rem;
  }

  &__logo {
    margin-bottom: 8rem;
  }

  &__social {
    margin-bottom: 2rem;
  }

  &__copyright {
    font-size: 1.4rem;
    font-family: $Quicksand;
    border-top: .1rem solid $cWhite1;
    padding: 2rem 1.9rem;
  }

  @include minMediaDesktop {
    padding: 13.2rem 0 3.3rem;
    display: flex;
    flex-direction: column;

    &__container {
      padding: 0 10.3rem;
      max-width: 144rem;
      display: grid;
      grid-template-columns: 18.7rem auto;
      gap: 6.8rem;
    }
    &__social {
      justify-self: center;
      grid-column: 1/3;
      padding-left: 1.1rem;
      margin-bottom: 1.6rem;
    }
    &__copyright {
      align-self: center;
      font-size: 1.8rem;
      line-height: normal;
      padding: 1.7rem 2.4rem 2.3rem;
    }
    &__menu {
      margin-bottom: .9rem;
      gap: 1.6rem;
    }
  }
}
