@import "src/css/app.variables";
@import "src/css/mixns";

.main-block {
  padding: 2.9rem 0;

  &__container {
    padding: 0 1.452rem 0 2.093rem;
  }

  &__title, &__description {
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__title {
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }

  &__header {
    padding: 0 .727rem;
    margin-bottom: 2rem;
  }

  &__description {
    font-family: $Nunito;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__footer {
    position: relative;
  }

  &__achievement {
    position: absolute;
    top: -.3rem;
    left: 0;
    z-index: 1;
  }

  &__review {
    position: absolute;
    bottom: 0;
    right: .4rem;
    z-index: 1;
  }
  @include minMediaDesktop {
    padding: 7.6rem 0;
    &__title {
      line-height: normal;
      letter-spacing: 0.064rem;
      font-size: 6.4rem;
      margin-bottom: 2.3rem;
    }
    &__header {
      width: 80rem;
      margin: 0 auto 3.2rem;

    }
    &__description{
      font-size: 2rem;
      line-height: 150%;
      letter-spacing: 0.02rem;
    }
    &__container {
      padding: 0 22.88rem;
    }
    &__button {
      margin-bottom: 8.8rem;
    }

    &__achievement {
      top: 3.5rem;
      left: 1.4rem;
    }
    &__review {
      bottom: .9rem;
      right: 1.6rem;
    }
  }
}
