@import "src/css/mixns";

.portfolio {
  padding: 4.9rem 0;

  &__sup-title, &__title, &__description {
    text-align: center;
  }

  &__title {
    margin-bottom: 3.4rem;
  }

  &__description {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__body {
    margin-bottom: 4.9rem;
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
    align-items: center;
  }

  &__header {
    margin-bottom: 3.4rem;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__dots {
    display: none;
  }

  @include minMediaDesktop {
    padding: 6.7rem 0;
    position: relative;

    &__description {
      font-size: 2rem;
      line-height: 3.4rem;
      letter-spacing: 0.02rem;
      width: 67.4rem;
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
    }
    &__body {
      flex-direction: row-reverse;
      justify-content: center;
      gap: 6.9rem;
      margin-bottom: 3.3rem;
    }
    &__title {
      margin-bottom: 3.1rem;
    }
    &__dots {
      display: block;

      > svg {
        position: absolute;
        width: 9.8475rem;
        height: 7.0926rem;

        &:first-child {
          right: 9.9rem;
          top: 22rem;
          transform: rotate(-16.318deg);
        }
        &:nth-child(2) {
          left: 48.6rem;
          top: 42.1rem;
          transform: rotate(19.172deg);
        }
      }
    }
  }
}
