@import "src/css/templates";

.balls {
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;

  &__container {
    position: relative;
    margin: auto;
  }

  &__item {
    @extend %ballsPosition;
    z-index: -1;
  }
}
